/RANCZO-TRANSKRYPCJE/
/RANCZO-WIDEO/
/OLD/
/STARE RANCZ WIDEO/
/passwords.env
/.venv
/new_venv
/venv
/.idea
/update_and_run.sh
*.log
/DataModify
/cache
/__pycache__
*.mp4
*.cutree
.env
log.txt
preprocessing_video.py


