# Directory-based exclusions
/RANCZO-TRANSKRYPCJE/
/RANCZO-WIDEO/
/.venv
/new_venv
/venv
/.idea
/DataModify
/cache
/__pycache__
/bot/RANCZO-TRANSKRYPCJE/
/bot/RANCZO-WIDEO/

# Specific file-based exclusions
/passwords.env
/update_and_run.sh
*.log
*.mp4
*.cutree
*.pyc
*.zip
.env
.db
*.db
/MOBILE_VIDEO_TESTS
/m
log.txt
video_data_1
*.session
/bot/tests/e2e_tests/expected_files
/bot/tests/expected
/bot/tests/expected/expected_files
*.session-journal
Test Results - .html
*.html
bot/tests/received_file.txt
/bot/KIEPSCY-TRANSKRYPCJE
/test_trans
