# Directory-based exclusions
/RANCZO-TRANSKRYPCJE/
/RANCZO-WIDEO/
/.venv
/new_venv
/venv
/.idea
/DataModify
/cache
/__pycache__

# Specific file-based exclusions
/passwords.env
/update_and_run.sh
*.log
*.mp4
*.cutree
*.pyc
*.zip
.env
.db
*.db
